<div class="row">
  <div class="col-sm-12">
    <h1>photos <%= link_to 'New photo', new_photo_path, class: 'btn btn-success' %></h1>
  </div>
</div>

<hr />

<table class="table table-striped">
  <tr>
    <th>Image</th>
    <th>Title</th>    
  </tr>

  <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image.url(:thumb) %></td>
        <td><%= photo.title %></td>        
        </td>
      </tr>
  <% end %>

</table>
